
<form #f="ngForm" (ngSubmit)="submit(f)" class="my-3">
    <div class="form-group">
        <label for="firstName"></label>
        <input required minlength="3" maxlength="10" ngModel name="firstName" #firstName="ngModel" type="text" id="firstName" class="form-control" (change)="log(firstName)">

        <div class="alert alert-danger mt-2" *ngIf="firstName.touched && firstName.invalid">
            <div *ngIf="firstName.errors">First name is required</div>
            <div *ngIf="firstName.errors">First name should be minimum of {{ firstName.errors }} characters</div>
            <div *ngIf="firstName.errors">First name should be maximum of {{ firstName.errors }} characters</div>
        </div>
    </div>

    <!-- To create a tree/complex object structure that houses all contact infos USE ngModelGroup Directive e.g contact which represents a sub-property in the ngForm.value object---making it hierarchical -->

    <!-- To get a reference to this entire ngModelGroup, use a template variable, #contact---to valid an entire group at a go -->

    <div ngModelGroup="contact" #contact="ngModelGroup">
        <!-- group validation -->
        <div *ngIf="contact.touched && !contact.valid" class="mt-3">
            Please enter valid contact infos
        </div>

        <div class="form-group">
            <label for="middleName">Middle Name</label>
            <input required minlength="3" maxlength="15" ngModel name="middleName" #middleName="ngModel" type="text" id="middleName" class="form-control" (change)="log(middleName)">

            <label for="lastName">Last Name</label>
            <input required minlength="3" maxlength="15" ngModel name="lastName" #lastName="ngModel" type="text" id="lastName" class="form-control" (change)="log(lastName)">
        </div>
    </div>
    
    <div class="form-group">
        <label for="comment"></label>
        <textarea ngModel name="comment" #comment="ngModel" id="comment" cols="30" rows="5" class="form-control"></textarea>
    </div>

    <button class="btn btn-success mt-3" [disabled]="!f.valid || !contact.valid">Submit</button>
</form>

<p class="mb-3" *ngIf="comment.value">{{comment}}</p>
