<!-- Interpolation -->
<h1 class="my-3">{{ getTitle() }}</h1>

<!-- Attribute/Property binding -->
<h2 class="my-3">Attribute/Property binding on image</h2>
<div class="mb-3">
    <img [src]="imageUrl" [alt]="title" [width]="80" [height]="80">
</div>

<!-- Directives -- Loops and Conditionals -->
<h2 class="my-3">Directives -- Loops and Conditionals</h2>
<ul>
    <li *ngFor="let course of courses">
        {{ course.name }} <br>
        <span *ngIf="course.desc">
            {{ course.desc}}
        </span>
    </li>
</ul>

<table class="mb-3">
    <tr>
        <td [attr.colspan]="colSpan">JavaScript Development</td>
        <td [attr.colspan]="colSpan">Python Development</td>
    </tr>
</table>

<!-- Events, Class binding and Style binding -->
<h2 class="my-3">Events, Class binding and Style binding</h2>
<div class="mb-3" (click)="clickDiv($event)">
    <!-- Class binding and Style binding -->

    <h3 class="my-3">Event to change class and style</h3>
    <!-- Use [class.active]="isActive" or [ngClass]="isActive? 'active': ''" -->
    <button class="btn btn-primary me-1" [class.active]="isActive"
        [style.backgroundColor]="isActive? 'blue' : 'darkblue'">Save</button>

    <button class="btn btn-danger" [ngClass]="isActive? 'active': ''" [ngStyle]="isActive? style1 : style2"
        (click)="onSave($event)">Toggle Background Color</button>
</div>

<div class="mb-3">
    <input class="me-1" type="text" (keyup)="onKeyUp($event)">

    <!-- Event Filter -->
    <h3 class="my-3">Event Filter</h3>
    <input class="me-1" type="text" (keyup.enter)="onKeyUp2($event)">

    <!-- Template Variables -->
    <input class="me-1" type="text" #inputName (keyup.enter)="onKeyUp3(inputName.value)">
</div>

<!-- Two-way Binding -->
<h2 class="my-3">Two-way Binding</h2>
<div class="mb-3">
    <!-- method1 -->
    <h3 class="my-3">Method 1</h3>
    <input class="me-1" type="text" [value]="emailInput1" (keyup.enter)="onKeyUp4($event)">
    <span>{{ emailInput1 }}</span>
</div>
<div>
    <!-- method2 -->
    <h3 class="my-3">Method 2</h3>
    <input class="me-1" type="text" [(ngModel)]="emailInput2" (keyup.enter)="onKeyUp5()">
    <span>{{ emailInput2 }}</span>
</div>

<!-- Pipes --Uppercase, Lowercase, Currency, Decimal (number), Percentage -->
<h2 class="my-3">Pipes</h2>
<p class="my-3">Show only the courses that have description</p>

<h2>ngSwitchCase</h2>

<ul class="nav nav-pills my-3">
    <li class="m-1">
        <button class="btn" [class.active]="viewMode == 'grid'" [class]="viewMode=='grid'?'btn-primary':'btn-secondary'"
            (click)="viewMode='grid'">Grid View</button>
    </li>
    <li class="m-1">
        <button class="btn" [class.active]="viewMode == 'list'" [class]="viewMode=='list'?'btn-primary':'btn-secondary'"
            (click)="viewMode='list'">List View</button>
    </li>
    <li class="m-1">
        <button class="btn btn-outline-secondary" (click)="showCourse = !showCourse">Add New Course</button>
    </li>
</ul>

<div class="my-4" *ngIf="showCourse">
    <form (submit)="addCourse()">
        <div class="form-group">
            <input class="form-control my-3" type="text" name="name" id="name" placeholder="Course name" [(ngModel)]="courseName">

            <input class="form-control my-3" type="text" name="description" id="description" placeholder="Course description" [(ngModel)]="courseDescription">

            <input class="form-control my-3" type="number" name="rating" id="rating" min="0" placeholder="Course rating" [(ngModel)]="courseRating">

            <input class="form-control my-3" type="number" name="students" id="students" min="0" placeholder="Number of students enrolled" [(ngModel)]="courseStudents">

            <input class="form-control my-3" type="number" name="price" id="price" min="0" placeholder="Course price" [(ngModel)]="coursePrice">
            
            <input class="form-control my-3" type="date" name="date" id="date" aria-placeholder="Date" [(ngModel)]="courseDate">
        </div>

        <button class="btn btn-success" [disabled]="isInvalid()">Add Course</button>
    </form>
</div>

<button class="btn btn-outline-secondary" (click)="reloadCourse()">Reload</button>

<ul class="mb-5" [ngSwitch]="viewMode" [class]="viewMode == 'grid'? 'gridView':'listView'" *ngIf="courses && courses.length > 0; else noCourseAvailable">
    <!-- using trackBy ensures that each time button is clicked to reloadCourse, Angular doesn't reconstruct the <ul> element, but rather track the object based on the id NOT the reference generated -->
    <li ngClass="courses" *ngFor="let course of courses; trackBy: trackCourse; index as i; even as isEven">
        <!-- <ng-container *ngIf="course.desc || course.desc !== ''"> -->
            <div>
                <div [ngStyle]="{'width': '24px', 'height': '24px', 'line-height': '24px', 'display': 'inline-block'}" class="bg-secondary text-white mb-1 rounded-circle text-center">{{i + 1}}</div>
                <span *ngIf="isEven"><i> ...even by index...</i></span>
            </div>
            <h3>
                <span ngClass="sub_head">
                    {{course.name | uppercase }}
                </span>
            </h3>
            <p>
                <span ngClass="sub_head">Description:</span>
                {{course.desc | lowercase}}
            </p>
            <p>
                <span ngClass="sub_head">No. of Students:</span>
                {{course.students | number}}
            </p>

            <hr>
            <p>
                <span ngClass="sub_head">Rating:</span>
                {{course.rating | number: '1.2-2'}}
                <!-- --- int: 1, after decimal__min: 2, max: 2. -->
            </p>
            <p>
                <span ngClass="sub_head">Rating:</span>
                {{course.rating | number: '1.1-1'}}
                <!-- --- int: 1, after decimal__min: 1, max: 1. -->
            </p>
            <p>
                <span ngClass="sub_head">Rating:</span>
                {{course.rating | number: '1.2-4'}}
                <!-- --- int: 1, after decimal__min: 2, max: 4. -->
            </p>
            <hr>

            <p>
                <span ngClass="sub_head">Price:</span>
                {{course.price | currency: '$'}}
                <!-- default reads as --- int: normal, min: 2, max: 2. -->
            </p>
            <p>
                <span ngClass="sub_head">Price:</span>
                {{course.price | currency: 'AUD':true:'1.1-1'}}
                <!-- --- int: 1, after decimal__min: 1, max: 1. -->
            </p>
            <hr>

            <p>
                <span ngClass="sub_head">Release Date:</span>
                {{course.releaseDate | date}}
            </p>
            <p>
                <span ngClass="sub_head">Release Date:</span>
                {{course.releaseDate | date: 'fullDate'}}
            </p>
            <p>
                <span ngClass="sub_head">Release Date:</span>
                {{course.releaseDate | date: 'shortDate'}}
            </p>
            <p>
                <span ngClass="sub_head">Release Date:</span>
                {{course.releaseDate | date: 'dd-MM-yy'}}
            </p>

            <button class="btn btn-danger btn-sm" (click)="deleteCourse(course)">Delete</button>
        <!-- </ng-container> -->
    </li>
</ul>

<ng-template #noCourseAvailable>
    <h5 class="text-center w-75 my-4 mx-auto p-3 border">No Course Available</h5>
</ng-template>


<!-- Safe Traversal Operator -->
<div class="mb-5">
    <h2>Safe Traversal</h2>
    <p>
        Using ? Safe Traversal Operator after the argument to check... If true, it executes the name.
        <br>
        This is used incase my initial value for name is null, so there is no error on init.
        <br>
        This can also be done using ngIf.
    </p>
    
    <p>
        <b>Using ?</b> - {{ tasks.assignee?.name}}
    </p>
    <p *ngIf="tasks.assignee">
        <b>Using ngIf</b> - {{ tasks.assignee.name}}
    </p>
</div>


<!-- Custom Pipe -->
<h2 class="my-3">Custom Pipe</h2>
<p>{{longText | summary: 25}}</p>

