ul {
  list-style: none;
  padding: 0;
}

.courses {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding-right: 1rem;
}

.sub_head {
  font-weight: 600;
}

.gridView {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.listView {
  display: block;
}
